<div class="container pt-5">
	<div class="row justify-content-center">
		<div class="col-10">
				<h3> Reg Users </h3><hr>

				<table class="table table-bordered table-striped table-hover">
					<tr><th>Name</th><th>Contact Detail</th><th>city</th>
						<th>Gender/dob</th><th>Date</th></tr>
					<tr *ngFor="let d of data">
						<td>{{d.firstName}} {{d.lastName}}</td>
						<td>{{d.emailId}} <br> {{d.phoneNo}}</td>
						<td>{{d.city}}</td>
						<td>Gender {{d.gender}}/{{d.dob |date}}</td>
						<td> {{d.date | date}}</td>
						</tr>
				</table>

		</div>
	</div>
</div>