
<div class="container pt-3 pb-3">
<div class="row">
<div class="col-6 bg-white p-5"></div>
<div class="col-6 bg-white p-5">
<p class="text-success display-6 text-center mb-3">Send Your Message</p>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
<div class="mb-3">
<input formControlName="firstName" type="text" placeholder="Enter First Name" class="form-control">
</div>
<div class="mb-3">
<input formControlName="lastName" type="text" placeholder="Enter Last Name" class="form-control">
</div>
<div class="mb-3">
<input formControlName="emailId" type="email" placeholder="Enter EmailId" class="form-control">
</div>
<div class="mb-3">
<input formControlName="phoneNo" type="tel" placeholder="Enter Phone no." class="form-control">
</div>
<div class="mb-3">
<textarea formControlName="message" placeholder="Type Message Here " class="form-control" rows=4></textarea>
</div>
<div class="mb-3">
<button class="btn btn-outline-success btn-lg w-100 mt-3" [disabled]="!contactForm.valid">Send Message</button>
</div>
</form>
<div class="bg-light border p-3" *ngIf="msg!=''"><p class="text-warning fw-bold">{{msg}}</p></div>
</div>
</div>
</div>