<div class="container pt-5 pb-5">
	<div class="row">
		<div class="col-md-5 pt-5">
			<img src="./assets/laptop.jpg" class="w-100 p-1 shadow " height="400px">
		</div>
		<div class="col-md-7 ">	

			<p class="text-justify lh-lg fs-5"> Welcome to our community blog! We are a platform for writers and content creators to share their knowledge and experiences with the world.</p>

<p class="text-justify lh-lg fs-5">Our mission is to provide a space for our registered users to express their thoughts and ideas through high-quality, informative and engaging articles. We cover a wide range of topics, from lifestyle and travel to technology and business.</p>

<p class="text-justify lh-lg fs-5">We started this blog as a way to bring together a community of passionate writers and storytellers. Our platform allows registered users to submit their own articles and share their unique perspectives with our audience.</p>

<p class="text-justify lh-lg fs-5">We are dedicated to providing a welcoming and inclusive space for our users to share their voices. We hope you enjoy reading the articles on our blog as much as we enjoy hosting them.</p>


		</div>
	</div>
</div>