<div class="container pt-3 pb-3">
<div class="row justify-content-center">
<div class="col-6 bg-white p-5 shadow mt-5 mb-2">
<p class="text-success display-6 text-center mb-4">Change Your Password</p>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
<div class="mb-3">
<input formControlName="password" type="password" placeholder="Enter Your Password" class="form-control">
</div>
<div class="mb-3">
<input formControlName="rpassword" type="password" placeholder="Re-enter Your Password" class="form-control">
</div>

<div class="mb-3">
<button class="btn btn-outline-success btn-lg w-100 mt-3" [disabled]="!userForm.valid">Update</button>

</div>
</form>
<div class="bg-light border p-3" *ngIf="msg!=''"><p class="text-warning fw-bold">{{msg}}</p></div>

</div>
</div>
</div>
