<footer class="bg-dark text-white text-center p-5 mt-5">
	<p class="pt-2 pb-3 display-5 text-success">Magazine</p>
	<p class="fs-5 ps-5 pe-5 mb-5"> We are dedicated to providing a welcoming and inclusive space for our users to share their voices. We hope you enjoy reading the articles on our blog as much as we enjoy hosting them.</p>
	
	<a href="/site/home">Home</a> &nbsp;| &nbsp;
	<a href="/site/about">About</a> &nbsp;| &nbsp;
	<a href="/site/contact">Contact</a> &nbsp;| &nbsp;
	<a href="/user/profile">Account</a> &nbsp;| &nbsp;
	<a href="/user/addarticle">Write Article</a>
	
</footer>