<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-success" href="/site/home">Magazine</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link" href="/site/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/site/about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Blog
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let d of data" class="text-capitalize"><a class="dropdown-item" [routerLink]="['/site/blog',d.title]">{{d.title}}</a></li>
          </ul>
        </li>
                     <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            News
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let d of ndata" class="text-capitalize"><a class="dropdown-item" [routerLink]="['/site/news',d]">{{d}}</a></li>
          </ul>
        </li>
             

                <li class="nav-item">
          <a class="nav-link" href="/site/contact">Contact</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="/user/login">My Account</a>
        </li>
      </ul>

      <form class="d-flex" role="search" [formGroup]="srchForm" (ngSubmit)="onSubmit()">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" formControlName="query">
        <button class="btn btn-outline-success" type="submit" [disabled]="!srchForm.valid">Search</button>
      </form>
    </div>
  </div>
</nav>