<div class="container pt-3 pb-3">
<div class="row justify-content-center">
<div class="col-6 bg-white p-5 shadow mt-2 mb-2">
<p class="text-success display-6 text-center mb-4">Update Your Personal Info</p>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
<div class="mb-3">
<input formControlName="firstName" type="text" placeholder="Enter First Name" class="form-control">
</div>
<div class="mb-3">
<input formControlName="lastName" type="text" placeholder="Enter Last Name" class="form-control">
</div>
<div class="mb-3">
<input formControlName="emailId" type="email" placeholder="Enter EmailId" class="form-control">
</div>
<div class="mb-3">
<input formControlName="phoneNo" type="tel" placeholder="Enter Phone no." class="form-control">
</div>
<div class="mb-3">
<input formControlName="city" type="text" placeholder="Enter Your City" class="form-control">
</div>
<div class="mb-3">
<label>Gender</label>
<select formControlName="gender" class="form-control">
	<option>Male</option>
	<option>Female</option>
	<option>Other</option>
</select>
</div>
<div class="mb-3">
	<label>D.O.B</label>
<input formControlName="dob" type="date" placeholder="Enter Your D.O.B" class="form-control">
</div>

<div class="mb-3">
<button class="btn btn-outline-success btn-lg w-100 mt-3" [disabled]="!userForm.valid">Update</button>

</div>
</form>
<div class="bg-light border p-3" *ngIf="msg!=''"><p class="text-warning fw-bold">{{msg}}</p></div>

</div>
</div>
</div>
